@import url("https://fonts.googleapis.com/css?family=Oxygen");
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Open Sans");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  width: 100%;
}
.navbar {
  background-color: rgb(85, 78, 78);
}
.navbar > .container > .nav-header > a {
  margin: 2px 0;
}
.navbar > .container > .collapse > .nav > li > a {
  color: white;
  font-size: 13px;
  letter-spacing: 1px;
  font-family: Secular One;
  text-transform: uppercase;
  margin: 6px 5px;
  padding: 10px 10px;
}
.navbar > .container > .collapse > .nav > li > a:hover {
  background-color: rgb(41, 34, 34);
}
.container > #myCarousel {
  margin-top: 7rem;
}
ul > li > ul > li > a {
  color: rgb(41, 34, 34);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
ul > li > ul > li > a:hover {
  text-decoration: none;
  color: gray;
}
ul > li > ul > li > a:focus,
:active {
  color: gray;
  text-decoration: none;
}
ul li ul.dropdown {
  min-width: 100%;
  background: white;
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  font-family: Oxygen;
  padding: 10px 10px;
}
ul li:hover ul.dropdown {
  display: block;
}
ul li ul.dropdown li {
  display: block;
}
.navbar > .container > .collapse > .notification {
  color: white;
  text-decoration: none;
  padding-top: 10px;
  float: right;
  position: relative;
  display: inline-block;
  background-color: transparent;
}
.navbar > .container > .collapse > .notification:hover,
:focus,
:active {
  color: white;
}
.navbar > .container > .collapse > .notification .badge {
  position: absolute;
  top: 5px;
  right: -10px;
  font-size: 10px;
  padding: 5px 5px;
  background-color: tomato;
  color: white;
  height: 20px;
  text-align: center;
  width: auto;
}

.main-content {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "filter product_list";
  grid-gap: 2rem;
}
.main-content > .filter {
  padding: 10px 10px;
  font-family: Poppins;
  grid-area: filter;
}
.main-content > .filter > .HR {
  width: 100%;
  margin: 10px 0px;
  background-color: rgb(212, 212, 212);
  height: 0.2px;
}
.main-content > .filter > div > h5 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  font-family: Oxygen;
  color: rgb(68, 68, 68);
}
.main-content > .filter > div > ul {
  list-style: none;
  padding: 30px 0px 0px 0px;
  width: 100%;
}
.main-content > .filter > div > ul > li {
  padding: 10px 0px;
  border-bottom: 0.2px solid rgb(214, 214, 214);
}
.main-content > .filter > div > ul > li > a {
  color: rgb(68, 68, 68);
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
}
.main-content > .filter > div > ul > li > a:hover,
:focus,
:active {
  text-decoration: none;
}
.main-content > .filter > div > ul > li > a > i {
  float: right;
  color: rgb(68, 68, 68);
}
.main-content > .filter > div > ul > li > #collapseOne {
  padding: 15px 5px;
}
.main-content > .filter > div > ul > li > #collapseTwo {
  padding: 15px 5px;
}
.main-content > .filter > div > ul > li > #collapseTwo > p {
  color: black;
}
.main-content > div {
  padding: 10px 0px;
}
.main-content > .product_list > .heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  padding: 10px 0px;
  font-family: Oxygen;
  grid-area: heading;
}
.main-content > .product_list > .heading > .sorting > form > label {
  font-weight: 100;
  font-size: 13px;
  color: black;
}
.main-content > .product_list > .heading > .sorting > form > select {
  padding: 5px 5px;
  font-size: 14px;
  color: black;
  border: 1px solid rgb(221, 221, 221);
}
.main-content > .product_list > .heading > .sorting > form > select > option {
  padding: 5px 5px;
  color: black;
}
.main-content > .product_list > .heading > .sorting > form > a > i {
  font-weight: bold;
  font-size: 15px;
  padding: 0px 7px;
  color: black;
}
.main-content > .product_list > .heading > .size > form > label {
  font-weight: 100;
  font-size: 13px;
  color: black;
}
.main-content > .product_list > .heading > .size > form > select {
  padding: 5px 5px;
  font-size: 14px;
  color: black;
  border: 1px solid rgb(221, 221, 221);
}
.main-content > .product_list > .heading > .size > form > select > option {
  padding: 5px 5px;
  color: black;
}
.main-content > .product_list > .heading > .size > form > a > i {
  font-weight: bold;
  font-size: 15px;
  padding: 0px 7px;
  color: black;
}

.main-content > .product_list {
  grid-area: product_list;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-areas:
    "heading heading heading heading"
    "item-1 item-2 item-3 item-4"
    "item-5 item-6 item-7 item-8";
  grid-gap: 1rem;
}
.main-content > .product_list > #item-1 {
  grid-area: item-1;
}
.main-content > .product_list > #item-2 {
  grid-area: item-2;
}
.main-content > .product_list > #item-3 {
  grid-area: item-3;
}
.main-content > .product_list > #item-4 {
  grid-area: item-4;
}
.main-content > .product_list > #item-5 {
  grid-area: item-5;
}
.main-content > .product_list > #item-6 {
  grid-area: item-6;
}
.main-content > .product_list > #item-7 {
  grid-area: item-7;
}
.main-content > .product_list > #item-8 {
  grid-area: item-8;
}
.main-content > .product_list > .card {
  padding: 0;
  margin: 0;
}
.main-content > .product-list > .card > img {
  width: 100%;
  height: auto;
}
.main-content > .product_list > .card > p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 8px 5px;
  padding: 8px 8px;
  font-size: 15px;
  font-family: Poppins;
}
.main-content > .product_list > .card:hover > img {
  box-shadow: 0px 15px 20px -13px gray;
}

.main-content > .product_list > .card > p > a {
  color: rgb(49, 49, 49);
  margin: 5px 5px;
}
.main-content > .product_list > .card > p > #price {
  padding: 5px 10px;
  font-family: Oswald;
  font-size: 18px;
  color: rgb(49, 49, 49);
  font-weight: 600;
}
.main-content > .product_list > .card > p > .rating {
  color: rgb(209, 204, 204);
}
.main-content > .product_list > .card > p > a:hover {
  text-decoration: none;
}
.main-content > .product_list > .card > .group-btn > button {
  text-transform: uppercase;
  font-family: Oswald;
  color: rgb(49, 49, 49);
  border-radius: 0px;
}

.main-content > .product_list > .card > .group-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Oswald;
}

.main-content > .product_list > .card > .group-btn > #cart01 {
  display: none;
  padding: 7px 5px;
  border: none;
  border-radius: 0px;
  width: 40px;
}
.main-content > .product_list > #item-1 > .group-btn > #btn > i {
  display: none;
  color: whitesmoke;
  margin-right: 5px;
}
.main-content > .product_list > #item-1:hover > .group-btn > #btn > i {
  display: inline-block;
}
.main-content > .product_list > #item-1:hover > .group-btn > #btn {
  background-color: rgb(49, 49, 49);
  color: whitesmoke;
}
.main-content > .product_list > .card > .group-btn > #cart02 {
  display: none;
  padding: 7px 5px;
  border: none;
  border-radius: 0px;
  width: 40px;
}
.main-content > .product_list > #item-2 > .group-btn > #btn > i {
  display: none;
  color: whitesmoke;
  margin-right: 5px;
}
.main-content > .product_list > #item-2:hover > .group-btn > #btn > i {
  display: inline-block;
}
.main-content > .product_list > #item-2:hover > .group-btn > #btn {
  background-color: rgb(49, 49, 49);
  color: whitesmoke;
}
.main-content > .product_list > .card > .group-btn > #cart03 {
  display: none;
  padding: 7px 5px;
  border: none;
  border-radius: 0px;
  width: 40px;
}
.main-content > .product_list > #item-3 > .group-btn > #btn > i {
  display: none;
  color: whitesmoke;
  margin-right: 5px;
}
.main-content > .product_list > #item-3:hover > .group-btn > #btn > i {
  display: inline-block;
}
.main-content > .product_list > #item-3:hover > .group-btn > #btn {
  background-color: rgb(49, 49, 49);
  border-radius: 0px;
  color: whitesmoke;
}
.main-content > .product_list > .card > .group-btn > #cart04 {
  display: none;
  padding: 7px 5px;
  border: none;
  border-radius: 0px;
  width: 40px;
}
.main-content > .product_list > #item-4 > .group-btn > #btn > i {
  display: none;
  color: whitesmoke;
  margin-right: 5px;
}
.main-content > .product_list > #item-4:hover > .group-btn > #btn > i {
  display: inline-block;
}

.main-content > .product_list > #item-4:hover > .group-btn > #btn {
  background-color: rgb(49, 49, 49);
  color: whitesmoke;
}
.main-content > .product_list > .card > .group-btn > #cart05 {
  display: none;
  padding: 7px 5px;
  border: none;
  border-radius: 0px;
  width: 40px;
}
.main-content > .product_list > #item-5 > .group-btn > #btn > i {
  display: none;
  color: whitesmoke;
  margin-right: 5px;
}

.main-content > .product_list > #item-5:hover > .group-btn > #btn > i {
  display: inline-block;
}

.main-content > .product_list > #item-5:hover > .group-btn > #btn {
  background-color: rgb(49, 49, 49);
  color: whitesmoke;
}
.main-content > .product_list > .card > .group-btn > #cart06 {
  display: none;
  padding: 7px 5px;
  border: none;
  border-radius: 0px;
  width: 40px;
}
.main-content > .product_list > #item-6 > .group-btn > #btn > i {
  display: none;
  color: whitesmoke;
  margin-right: 5px;
}

.main-content > .product_list > #item-6:hover > .group-btn > #btn > i {
  display: inline-block;
}

.main-content > .product_list > #item-6:hover > .group-btn > #btn {
  background-color: rgb(49, 49, 49);
  color: whitesmoke;
}
.main-content > .product_list > .card > .group-btn > #cart07 {
  display: none;
  padding: 7px 5px;
  border: none;
  border-radius: 0px;
  width: 40px;
}
.main-content > .product_list > #item-7 > .group-btn > #btn > i {
  display: none;
  color: whitesmoke;
  margin-right: 5px;
}

.main-content > .product_list > #item-7:hover > .group-btn > #btn > i {
  display: inline-block;
}

.main-content > .product_list > #item-7:hover > .group-btn > #btn {
  background-color: rgb(49, 49, 49);
  color: whitesmoke;
}
.main-content > .product_list > .card > .group-btn > #cart08 {
  display: none;
  padding: 7px 5px;
  border: none;
  border-radius: 0px;
  width: 40px;
}
.main-content > .product_list > #item-8 > .group-btn > #btn > i {
  display: none;
  color: whitesmoke;
  margin-right: 5px;
}
.main-content > .product_list > #item-8:hover > .group-btn > #btn > i {
  display: inline-block;
}
.main-content > .product_list > #item-8:hover > .group-btn > #btn {
  background-color: rgb(49, 49, 49);
  color: whitesmoke;
}
.main-content > .HR {
  width: 100%;
  margin: 30px 0px;
  background-color: rgb(235, 235, 235);
  height: 0.2px;
}

/* }
.main-content > .product_list > .product-list {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-areas:
    "heading heading heading heading"
    "item-1 item-2 item-3 item-4"
    "item-5 item-6 item-7 item-8";
  grid-gap: 2rem;
  width: 100%;
}
.main-content > div > .product_list > #item-1 {
  grid-area: item-1;
}
.main-content > div > .product_list > #item-2 {
  grid-area: item-2;
}
.main-content > div > .product_list > #item-3 {
  grid-area: item-3;
}
.main-content > div > .product_list > #item-4 {
  grid-area: item-4;
}
.main-content > div > .product_list > #item-5 {
  grid-area: item-5;
}
.main-content > div > .product_list > #item-6 {
  grid-area: item-6;
}
.main-content > div > .product_list > #item-7 {
  grid-area: item-7;
}
.main-content > div > .product_list > #item-8 {
  grid-area: item-8;
}
.main-content > div > .product-list > .card > img {
  width: 100%;
  height: auto;
}
.main-content > div > .product-list > .card > p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 8px 5px;
  padding: 8px 8px;
  font-size: 15px;
  font-family: Poppins;
}
.main-content > div > .product-list > .card:hover > img {
  box-shadow: 0px 15px 20px -13px gray;
}
.main-content > div > .product-list > .card > p > a {
  color: rgb(49, 49, 49);
  margin: 5px 5px;
}
.main-content > div > .product-list > .card > p > #price {
  padding: 5px 10px;
  font-family: Oswald;
  font-size: 18px;
  color: rgb(49, 49, 49);
  font-weight: 600;
}
.main-content > div > .product-list > .card > p > .rating {
  color: rgb(209, 204, 204);
}
.main-content > div > .product-list > .card > p > a:hover {
  text-decoration: none;
}
.main-content > div > .product-list > .card > .group-btn > button {
  text-transform: uppercase;
  font-family: Oswald;
  color: rgb(49, 49, 49);
}
.main-content > div > .product-list > .card > .group-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Oswald;
}
.main-content > div > .product-list > .card > .group-btn > #cart01 {
  display: none;
  padding: 7px 5px;
  border: none;
  border-radius: 0px;
  width: 40px;
}
.main-content > div > .product-list > #item-1 > .group-btn > .btn > i {
  margin: 5px 5px;
  display: none;
}

.main-content > div > .product-list > #item-1:hover > .group-btn > .btn > i {
  display: inline-block;
}

.main-content > div > .product-list > #item-1:hover > .group-btn > .btn {
  background-color: rgb(49, 49, 49);
  color: whitesmoke;
}
.main-content > div > .product-list > .card > .group-btn > #cart02 {
  display: none;
  padding: 7px 5px;
  border: none;
  border-radius: 0px;
  width: 40px;
}
.main-content > div > .product-list > #item-2 > .group-btn > .btn > i {
  margin: 5px 5px;
  display: none;
}

.main-content > div > .product-list > #item-2:hover > .group-btn > .btn > i {
  display: inline-block;
}

.main-content > div > .product-list > #item-2:hover > .group-btn > .btn {
  background-color: rgb(49, 49, 49);
  color: whitesmoke;
}

.main-content > div > .product-list > .card > .group-btn > #cart03 {
  display: none;
  padding: 7px 5px;
  border: none;
  border-radius: 0px;
  width: 40px;
}
.main-content > div > .product-list > #item-3 > .group-btn > .btn > i {
  margin: 5px 5px;
  display: none;
}

.main-content > div > .product-list > #item-3:hover > .group-btn > .btn > i {
  display: inline-block;
}

.main-content > div > .product-list > #item-3:hover > .group-btn > .btn {
  background-color: rgb(49, 49, 49);
  color: whitesmoke;
}
.main-content > div > .product-list > .card > .group-btn > #cart04 {
  display: none;
  padding: 7px 5px;
  border: none;
  border-radius: 0px;
  width: 40px;
}
.main-content > div > .product-list > #item-4 > .group-btn > .btn > i {
  margin: 5px 5px;
  display: none;
}

.main-content > div > .product-list > #item-4:hover > .group-btn > .btn > i {
  display: inline-block;
}

.main-content > div > .product-list > #item-4:hover > .group-btn > .btn {
  background-color: rgb(49, 49, 49);
  color: whitesmoke;
}
.main-content > div > .product-list > .card > .group-btn > #cart05 {
  display: none;
  padding: 7px 5px;
  border: none;
  border-radius: 0px;
  width: 40px;
}
.main-content > div > .product-list > #item-5 > .group-btn > .btn > i {
  margin: 5px 5px;
  display: none;
}

.main-content > div > .product-list > #item-5:hover > .group-btn > .btn > i {
  display: inline-block;
}

.main-content > div > .product-list > #item-5:hover > .group-btn > .btn {
  background-color: rgb(49, 49, 49);
  color: whitesmoke;
}
.main-content > div > .product-list > .card > .group-btn > #cart06 {
  display: none;
  padding: 7px 5px;
  border: none;
  border-radius: 0px;
  width: 40px;
}
.main-content > div > .product-list > #item-6 > .group-btn > .btn > i {
  margin: 5px 5px;
  display: none;
}

.main-content > div > .product-list > #item-6:hover > .group-btn > .btn > i {
  display: inline-block;
}

.main-content > div > .product-list > #item-6:hover > .group-btn > .btn {
  background-color: rgb(49, 49, 49);
  color: whitesmoke;
}
.main-content > div > .product-list > .card > .group-btn > #cart07 {
  display: none;
  padding: 7px 5px;
  border: none;
  border-radius: 0px;
  width: 40px;
}
.main-content > div > .product-list > #item-7 > .group-btn > .btn > i {
  margin: 5px 5px;
  display: none;
}

.main-content > div > .product-list > #item-7:hover > .group-btn > .btn > i {
  display: inline-block;
}

.main-content > div > .product-list > #item-7:hover > .group-btn > .btn {
  background-color: rgb(49, 49, 49);
  color: whitesmoke;
}
.main-content > div > .product-list > .card > .group-btn > #cart08 {
  display: none;
  padding: 7px 5px;
  border: none;
  border-radius: 0px;
  width: 40px;
}
.main-content > div > .product-list > #item-8 > .group-btn > .btn > i {
  margin: 5px 5px;
  display: none;
}

.main-content > div > .product-list > #item-8:hover > .group-btn > .btn > i {
  display: inline-block;
}

.main-content > div > .product-list > #item-8:hover > .group-btn > .btn {
  background-color: rgb(49, 49, 49);
  color: whitesmoke;
}
.main-content > div > .HR {
  width: 100%;
  margin: 30px 0px;
  background-color: rgb(235, 235, 235);
  height: 0.2px;
} */

.footer {
  margin: 0;
  padding: 0;
  background-color: rgb(34, 34, 34);
  width: 100%;
}

.footer > .container > .footer-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.footer > .container > .footer-body > .body > p {
  color: rgb(175, 175, 175);
  font-family: Poppins;
  font-size: small;
  line-height: 25px;
}
.footer > .container > .footer-body > .body > h5 {
  font-family: Oswald;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 15px;
  color: white;
}
.footer > .container > .footer-body > .body > .contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer > .container > .footer-body > .body > .contact > div > h5 {
  font-family: Oswald;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 15px;
  color: white;
}
.footer > .container > .footer-body > .body > .contact > div > h6 {
  text-transform: uppercase;
  padding-top: 10px;
  font-family: Poppins;
  font-weight: 300;
  color: white;
}
.footer > .container > .footer-body > .body > .contact > div > span {
  color: rgb(175, 175, 175);
  font-size: 13px;
  font-family: Poppins;
}
.footer > .container > .footer-body > .body > .contact > div > a {
  color: rgb(175, 175, 175);
  font-size: 13px;
}
.footer > .container > .footer-body > .featured-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding-left: 40px;
}

.footer > .container > .footer-body > .featured-product > h5 {
  margin-top: 60px;
  font-family: Oswald;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 15px;
  color: white;
}
.footer > .container > .footer-body > .featured-product > .product1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.footer > .container > .footer-body > .featured-product > .product1 > p {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px 20px;
}
.footer > .container > .footer-body > .featured-product > .product1 > p > a {
  color: rgb(175, 175, 175);
  font-family: Poppins;
  font-size: small;
}
.footer
  > .container
  > .footer-body
  > .featured-product
  > .product1
  > p
  > a:hover {
  text-decoration: none;
}
.footer > .container > .footer-body > .featured-product > .product1 > p > span {
  color: rgb(131, 131, 131);
  font-family: Oswald;
}
.footer > .container > .footer-body > .featured-product > .product1 > img {
  cursor: pointer;
}
.footer > .container > .footer-body > .featured-product > .product2 > img {
  cursor: pointer;
}
.footer > .container > .footer-body > .featured-product > .product2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer > .container > .footer-body > .featured-product > .product2 > p {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px 20px;
}
.footer > .container > .footer-body > .featured-product > .product2 > p > a {
  color: rgb(175, 175, 175);
  font-family: Poppins;
  font-size: small;
}
.footer
  > .container
  > .footer-body
  > .featured-product
  > .product2
  > p
  > a:hover {
  text-decoration: none;
}
.footer
  > .container
  > .footer-body
  > .featured-product
  > .product2
  > p
  > span
  > i {
  color: rgb(184, 184, 184);
}
.footer
  > .container
  > .footer-body
  > .featured-product
  > .product1
  > p
  > span
  > i {
  color: rgb(184, 184, 184);
}
.footer > .container > .footer-body > .featured-product > .product2 > p > span {
  color: rgb(131, 131, 131);
  font-family: Oswald;
  font-weight: 400;
}
.footer
  > .container
  > .footer-body
  > .featured-product
  > .product2
  > p
  > #offer {
  text-decoration: line-through;
}
.footer > .container > .footer-body > .Follow {
  margin-top: -60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  text-align: center;
  height: 200px;
}
.footer > .container > .footer-body > .Follow > h5 {
  font-family: Oswald;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 15px;
  color: white;
}
.footer > .container > .HR {
  width: 100%;
  margin-top: 50px;
  background-color: rgb(78, 78, 78);
  height: 0.2px;
}
.footer > .container > .footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}
.footer > .container > .footer-bottom > .Account {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.footer > .container > .footer-bottom > .Account > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  text-align: left;
  font-family: Poppins;
}
.footer > .container > .footer-bottom > .Account > div > a {
  color: rgb(175, 175, 175);
  padding-top: 6px;
  font-size: small;
}
.footer > .container > .footer-bottom > .Account > .sec {
  margin-top: 36px;
  margin-left: 30px;
}
.footer > .container > .footer-bottom > .Account > div > h5 {
  font-family: Oswald;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 15px;
  color: white;
}
.footer > .container > .footer-bottom > .feature {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}
.footer > .container > .footer-bottom > .feature > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.footer > .container > .footer-bottom > .feature > #sec {
  padding-top: 10px;
  padding-left: 20px;
}
.footer > .container > .footer-bottom > .feature > div > h5 {
  font-family: Oswald;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 15px;
  color: white;
}
.footer > .container > .footer-bottom > .feature > div > a {
  color: rgb(175, 175, 175);
  padding-top: 6px;
  font-size: small;
  font-family: Poppins;
}

.footer > .container > .footer-bottom > .HR {
  width: 100%;
  margin: 10px 0px;
  background-color: rgb(78, 78, 78);
  height: 0.2px;
}

.footer > .container > .footer-bottom > .social {
  text-align: center;
  margin-top: 5rem;
}
.footer > .container > .footer-bottom > .social > a {
  background-color: rgb(43, 40, 40);
  padding: 15px 20px;
  font-size: 20px;
  color: white;
}
.footer > .container > #footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
}
.footer > .container > #footer > div > p {
  color: rgb(175, 175, 175);
  padding-top: 6px;
  font-size: small;
  font-family: Poppins;
}
.footer > .container > #footer > .subscribe {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.footer > .container > #footer > .subscribe > h5 {
  font-family: Oswald;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 15 px;
  padding-right: 15px;
  color: white;
}
.footer > .container > #footer > .subscribe > div > input {
  height: 35px;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  padding: 20px 20px;
  color: black;
  width: 200px;
  letter-spacing: 1.5px;
}
.footer > .container > #footer > .subscribe > div > button {
  float: right;
  width: fit-content;
  padding: 11px 20px;
  background: rgb(77, 73, 73);
  color: white;
  font-size: 15px;
  border: none;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  cursor: pointer;
  font-family: Oswald;
  text-transform: uppercase;
}
.footer > .container > #footer > .subscribe > div > button:focus,
:active {
  outline: none;
}
.footer > .container > #footer > .subscribe > div > input:focus,
:active {
  outline: none;
}
@media (max-width: 720px) {
  .main-content > div > .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
    padding: 0px 10px;
    text-align: center;
  }
  .main > .main-content > .filter {
    display: none;
  }
  .main-content > div > .heading > .size > form > label {
    display: none;
  }
  .main-content > div > .heading > .size > form > select {
    display: none;
  }
}
@media (max-width: 800px) and (min-width: 100px) {
  .main-content > div > .product-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    padding: 0px 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  .main > .main-content {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
  }
  .main-content > .filter {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  /* .main-content > div > .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
    padding: 0px 10px;
    text-align: center;
  } */
  .main-content > .product-list > #item-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
  }
  .main-content > .product-list > #item-1 > .product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer > .container > .footer-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }
  .footer > .container > #footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
  }
  .footer > .container > .footer-body > .body > .contact > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }
  .footer > .container > .footer-body > .featured-product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 0px;
    padding-bottom: 20px;
    width: 100%;
  }
  .footer > .container > .footer-body > .Follow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    margin-top: 10px;
  }
  .footer > .container > .footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10px;
  }
  .footer > .container > .footer-bottom > .Account {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px;
    padding: 0px;
  }
  .footer > .container > .footer-bottom > .Account > .sec {
    padding: 0px;
    margin: 0px;
  }
  .footer > .container > .footer-bottom > .feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
  }
  .footer > .container > .footer-bottom > .feature > #sec {
    padding: 0;
    margin: 0;
  }
  .footer > .container > #footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .footer > .container > #footer > .subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .footer > .container > #footer > .subscribe > h5 {
    text-align: left;
  }
  .footer > .container > #footer > #payment {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .footer > .container > .footer-bottom > .social {
    margin-top: 20px;
  }
}
