@import url("https://fonts.googleapis.com/css?family=Oxygen");
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home {
  width: 100%;
  height: auto;
}
.navbar {
  background-color: rgb(85, 78, 78);
}
.navbar > .container > .nav-header > a {
  margin: 2px 0;
}
.navbar > .container > .collapse > .nav > li > a {
  color: white;
  font-size: 13px;
  letter-spacing: 1px;
  font-family: Secular One;
  text-transform: uppercase;
  margin: 6px 5px;
  padding: 10px 10px;
}
.navbar > .container > .collapse > .nav > li > a:hover {
  background-color: rgb(41, 34, 34);
}
.container > #myCarousel {
  margin-top: 7rem;
}
ul > li > ul > li > a {
  color: rgb(41, 34, 34);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
ul > li > ul > li > a:hover {
  text-decoration: none;
  color: gray;
}
ul > li > ul > li > a:focus,
:active {
  color: gray;
  text-decoration: none;
}
ul li ul.dropdown {
  min-width: 100%;
  background: white;
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
  font-family: Oxygen;
  padding: 10px 10px;
}
ul li:hover ul.dropdown {
  display: block;
}
ul li ul.dropdown li {
  display: block;
}
.navbar > .container > .collapse > .notification {
  color: white;
  text-decoration: none;
  padding-top: 10px;
  float: right;
  position: relative;
  display: inline-block;
  background-color: transparent;
}
.navbar > .container > .collapse > .notification:hover,
:focus,
:active {
  color: white;
}
.navbar > .container > .collapse > .notification .badge {
  position: absolute;
  top: 5px;
  right: -10px;
  font-size: 10px;
  padding: 5px 5px;
  background-color: tomato;
  color: white;
  height: 20px;
  text-align: center;
  width: auto;
}

.home > .container > .OurService {
  padding: 2rem 0rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-family: Oxygen;
}
.home > .container > .OurService > .shipping {
  display: flex;
  justify-content: space-around;
  text-emphasis: uppercase;
}
.home > .container > .OurService > .shipping > i {
  padding-top: 10px;
  margin-right: 1.5rem;
  color: rgb(100, 97, 97);
}
.home > .container > .OurService > .shipping > div > h5 {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  color: rgb(49, 49, 49);
}
.home > .container > .OurService > .shipping > div > h6 {
  font-size: 12px;
  color: rgb(163, 163, 163);
}
.home > .container > .OurService > .Guarenty {
  display: flex;
  justify-content: space-between;
}
.home > .container > .OurService > .Guarenty > i {
  padding-top: 10px;
  margin-right: 1.5rem;
  color: rgb(100, 97, 97);
}
.home > .container > .OurService > .Guarenty > div > h5 {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  color: rgb(49, 49, 49);
}
.home > .container > .OurService > .Guarenty > div > h6 {
  font-size: 12px;
  color: rgb(124, 116, 116);
}
.home > .container > .OurService > .Support {
  display: flex;
}

.home > .container > .OurService > .Support > i {
  padding-top: 10px;
  margin-right: 1.5rem;
  color: rgb(100, 97, 97);
}
.home > .container > .OurService > .Support > div > h5 {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  color: rgb(49, 49, 49);
}
.home > .container > .OurService > .Support > div > h6 {
  font-size: 12px;
  color: rgb(124, 116, 116);
}
.home > .HL {
  width: 100%;
  border-bottom: 0.5px solid rgb(209, 204, 204);
}
.home > .main-content {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-areas: "categories product-list";
  grid-gap: 10px;
}
.home > .main-content > .shop-categories {
  grid-area: categories;
  text-align: left;
  font-family: Oswald;
  width: 100%;
  padding: 10px 0px;
  float: left;
}
.home > .main-content > .shop-categories > h4 {
  padding: 15px 10px;
  font-size: 14px;
  color: whitesmoke;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  background-color: rgb(41, 34, 34);
  text-align: left;
}
.home > .main-content > .shop-categories > h4 > i {
  padding: 0px 5px;
  text-align: left;
}
.home > .main-content > .shop-categories > ul {
  background-color: white;
  margin-top: -10px;
  font-family: Quicksand;
  list-style: none;
}
.home > .main-content > .shop-categories > ul > li {
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 500;
  font-family: Quicksand;
  padding: 20px 10px;
  text-align: left;
  border: 0.5px solid rgb(209, 204, 204);
}
.home > .main-content > .shop-categories > ul > li > a {
  color: rgb(85, 84, 84);
  text-align: left;
  font-weight: 600;
  cursor: pointer;
}
.home > .main-content > .shop-categories > ul > li > a > i {
  float: right;
  font-size: x-small;
  color: rgb(49, 49, 49);
}
.home > .main-content > .shop-categories > ul > li > a:hover,
:active,
:focus {
  text-decoration: none;
}
.home > .main-content > .shop-categories > ul > li > #collapseOne > ul {
  list-style-type: none;
  padding: 10px 0px;
}
.home > .main-content > .shop-categories > ul > li > #collapseOne > ul > li {
  padding: 15px 0px 10px 8px;
  border-bottom: 0.5px solid rgb(185, 185, 185);
}
.home
  > .main-content
  > .shop-categories
  > ul
  > li
  > #collapseOne
  > ul
  > li
  > a {
  color: rgb(85, 84, 84);
  text-align: left;
  font-weight: 600;
  cursor: pointer;
}
.home
  > .main-content
  > .shop-categories
  > ul
  > li
  > #collapseOne
  > ul
  > li
  > a
  > i {
  float: right;
  font-size: x-small;
  color: rgb(49, 49, 49);
}
.home
  > .main-content
  > .shop-categories
  > ul
  > li
  > #collapseOne
  > ul
  > li
  > a:hover,
:active {
  text-decoration: none;
}
.home
  > .main-content
  > .shop-categories
  > ul
  > li
  > #collapseOne
  > ul
  > li
  > #Mens {
  padding: 10px 8px;
}
.home
  > .main-content
  > .shop-categories
  > ul
  > li
  > #collapseOne
  > ul
  > li
  > #Mens
  > p {
  color: rgb(48, 44, 44);
}
.home
  > .main-content
  > .shop-categories
  > ul
  > li
  > #collapseOne
  > ul
  > li
  > #Womens {
  padding: 10px 8px;
}
.home
  > .main-content
  > .shop-categories
  > ul
  > li
  > #collapseOne
  > ul
  > li
  > #Womens
  > p {
  color: rgb(48, 44, 44);
}
.home > .main-content > .shop-categories > .Service {
  padding: 10px 0px;
  margin-top: 20px;
  text-align: left;
  display: block;
}
.home > .main-content > .shop-categories > .Service > .Service-title > h4 {
  color: rgb(49, 49, 49);
  padding: 10px 0px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}
.home > .main-content > .shop-categories > .Service > .Service-title > i {
  padding-left: 4px;
  color: rgb(49, 49, 49);
}
.home > .main-content > .shop-categories > .Service > .Service-msg > p {
  font-family: Poppins;
  font-size: 13px;
  color: rgb(117, 117, 117);
  line-height: 23px;
  font-weight: 400;
}
.home > .main-content > .shop-categories > .policy {
  text-align: left;
  display: block;
}
.home > .main-content > .shop-categories > .policy > .policy-title > h4 {
  color: rgb(49, 49, 49);
  padding-bottom: 10px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}
.home > .main-content > .shop-categories > .policy > .policy-title > i {
  padding-left: 4px;
  color: rgb(49, 49, 49);
}
.home > .main-content > .shop-categories > .policy > .policy-msg > p {
  font-family: Poppins;
  font-size: 13px;
  color: rgb(117, 117, 117);
  line-height: 23px;
  font-weight: 400;
}

/* Product List Styles */
.home > .main-content > .product_list {
  grid-area: product-list;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas:
    "heading heading heading heading"
    "item-1 item-2 item-3 item-4"
    "item-5 item-6 item-7 item-8";
  width: 100%;
  padding: 10px 10px;
  float: left;
}
.home > .main-content > .product_list > .heading {
  grid-area: heading;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Oswald;
}
.home > .main-content > .product_list > .heading > .HR {
  background-color: rgb(177, 177, 177);
  height: 0.5px;
  width: 100%;
}
.home > .main-content > .product_list > .heading > h4 {
  font-size: 20px;
  margin-right: 30px;
  padding: 0px 10px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 50%;
  color: rgb(39, 34, 34);
}
.home > .main-content > .product_list > #item-1 {
  grid-area: item-1;
  padding: 10px 10px;
}
.home > .main-content > .product_list > #item-1 > img {
  max-width: 100%;
  height: auto;
}
.home > .main-content > .product_list > #item-2 {
  grid-area: item-2;
  padding: 10px 10px;
}
.home > .main-content > .product_list > #item-2 > img {
  max-width: 100%;
  height: auto;
}
.home > .main-content > .product_list > #item-3 {
  grid-area: item-3;
  padding: 10px 10px;
}
.home > .main-content > .product_list > #item-3 > img {
  max-width: 100%;
  height: auto;
}
.home > .main-content > .product_list > #item-4 {
  grid-area: item-4;
  padding: 10px 10px;
}
.home > .main-content > .product_list > #item-4 > img {
  max-width: 100%;
  height: auto;
}
.home > .main-content > .product_list > #item-5 {
  grid-area: item-5;
  padding: 10px 10px;
}
.home > .main-content > .product_list > #item-5 > img {
  max-width: 100%;
  height: auto;
}
.home > .main-content > .product_list > #item-6 {
  grid-area: item-6;
  padding: 10px 10px;
}
.home > .main-content > .product_list > #item-6 > img {
  max-width: 100%;
  height: auto;
}
.home > .main-content > .product_list > #item-7 {
  grid-area: item-7;
  padding: 10px 10px;
}
.home > .main-content > .product_list > #item-7 > img {
  max-width: 100%;
  height: auto;
}
.home > .main-content > .product_list > #item-8 {
  grid-area: item-8;
  padding: 10px 10px;
}
.home > .main-content > .product_list > #item-8 > img {
  max-width: 100%;
  height: auto;
}
.home > .main-content > .product_list > .card {
  padding: 0;
  margin: 0;
}
.home > .main-content > .product_list > .card > p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 8px 5px;
  padding: 8px 8px;
  font-size: 15px;
  font-family: Poppins;
}
.home > .main-content > .product_list > .card > img {
  width: 100%;
  height: auto;
}
.home > .main-content > .product_list > .card > p > a {
  color: rgb(49, 49, 49);
  margin: 5px 5px;
}
.home > .main-content > .product_list > .card > p > #price {
  padding: 5px 10px;
  font-family: oswald;
  font-size: 18px;
  color: rgb(49, 49, 49);
}
.home > .main-content > .product_list > .card > p > .rating > i {
  color: rgb(156, 156, 156);
}
.home > .main-content > .product_list > .card > p > a:hover {
  text-decoration: none;
}
.home > .main-content > .product_list > .card > p > button {
  text-transform: uppercase;
  font-family: Oswald;
  background-color: rgb(197, 197, 197);
  font-size: medium;
  color: rgb(49, 49, 49);
}
.home > .main-content > .product_list > .card > p > button > i {
  color: whitesmoke;
}
.home > .main-content > .product_list > .card > .group-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Oswald;
}

.home > .main-content > .product_list > .card > .group-btn > #cart01 {
  display: none;
  padding: 7px 5px;
  border: none;
  border-radius: 0px;

  width: 40px;
}
.home > .main-content > .product_list > .card > .group-btn > #cart02 {
  display: none;
  padding: 7px 5px;
  border: none;
  border-radius: 0px;

  width: 40px;
}
.home > .main-content > .product_list > .card > .group-btn > #cart03 {
  display: none;
  padding: 7px 5px;
  border: none;
  border-radius: 0px;

  width: 40px;
}
.home > .main-content > .product_list > .card > .group-btn > #cart04 {
  display: none;
  padding: 7px 5px;
  border: none;
  border-radius: 0px;

  width: 40px;
}
.home > .main-content > .product_list > .card > .group-btn > #cart05 {
  display: none;
  padding: 7px 5px;
  border: none;
  border-radius: 0px;
  width: 40px;
}
.home > .main-content > .product_list > .card > .group-btn > #cart06 {
  display: none;
  padding: 7px 5px;
  border: none;
  border-radius: 0px;

  width: 40px;
}
.home > .main-content > .product_list > .card > .group-btn > #cart07 {
  display: none;
  padding: 7px 5px;
  border: none;
  border-radius: 0px;

  width: 40px;
}
.home > .main-content > .product_list > .card > .group-btn > #cart08 {
  display: none;
  padding: 7px 5px;
  border: none;
  border-radius: 0px;

  width: 40px;
}
.home > .main-content > .product_list > .card > .group-btn > .btn {
  text-transform: uppercase;
  border-radius: 0px;
  color: rgb(126, 126, 126);
  padding: 7px 10px;
  font-weight: 200;
  border: none;
  font-size: 15px;
}
.home > .main-content > .product_list > .card > .overlay {
  position: absolute;
  bottom: auto;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  transition: 0.5s ease;
  width: 208px;
  opacity: 0;
  color: white;
  padding: 3px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  font-family: Oswald;
  height: 25px;
  display: none;
}
.home > .main-content > .product_list > .card:hover .overlay {
  opacity: 1;
}
.home > .main-content > .product_list > #item-1:hover > img {
  box-shadow: 0px 0px 5px gray;
}
.home > .main-content > .product_list > .card > .overlay-02 {
  position: absolute;
  bottom: auto;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  transition: 0.5s ease;
  width: 200px;
  opacity: 0;
  color: white;
  padding: 10px 10xp;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  font-family: Oswald;
}
.home > .main-content > .product_list > .card:hover > .overlay-02 {
  opacity: 1;
}
.home > .main-content > .product_list > #item-2:hover > img {
  box-shadow: 0px 0px 5px gray;
}
.home > .main-content > .product_list > .card > .overlay-03 {
  position: absolute;
  bottom: auto;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  transition: 0.5s ease;
  width: 200px;
  opacity: 0;
  color: white;
  padding: 10px 10xp;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  font-family: Oswald;
}
.home > .main-content > .product_list > .card:hover > .overlay-03 {
  opacity: 1;
}
.home > .main-content > .product_list > #item-3:hover > img {
  box-shadow: 0px 0px 5px gray;
}
.home > .main-content > .product_list > .card > .overlay-04 {
  position: absolute;
  bottom: auto;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  transition: 0.5s ease;
  width: 200px;
  opacity: 0;
  color: white;
  padding: 10px 10xp;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  font-family: Oswald;
}
.home > .main-content > .product_list > .card:hover > .overlay-04 {
  opacity: 1;
}
.home > .main-content > .product_list > #item-4:hover > img {
  box-shadow: 0px 0px 5px gray;
}
.home > .main-content > .product_list > .card > .overlay-05 {
  position: absolute;
  bottom: auto;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  transition: 0.5s ease;
  width: 200px;
  opacity: 0;
  color: white;
  padding: 10px 10xp;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  font-family: Oswald;
}
.home > .main-content > .product_list > .card:hover .overlay-05 {
  opacity: 1;
}
.home > .main-content > .product_list > #item-5:hover > img {
  box-shadow: 0px 0px 5px gray;
}
.home > .main-content > .product_list > .card > .overlay-06 {
  position: absolute;
  bottom: auto;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  transition: 0.5s ease;
  width: 200px;
  opacity: 0;
  color: white;
  padding: 10px 10xp;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  font-family: Oswald;
}
.home > .main-content > .product_list > .card:hover .overlay-06 {
  opacity: 1;
}
.home > .main-content > .product_list > #item-6:hover > img {
  box-shadow: 0px 0px 5px gray;
}
.home > .main-content > .product_list > .card > .overlay-07 {
  position: absolute;
  bottom: auto;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  transition: 0.5s ease;
  width: 200px;
  opacity: 0;
  color: white;
  padding: 10px 10xp;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  font-family: Oswald;
}
.home > .main-content > .product_list > .card:hover .overlay-07 {
  opacity: 1;
}
.home > .main-content > .product_list > #item-7:hover > img {
  box-shadow: 0px 0px 5px gray;
}
.home > .main-content > .product_list > .card > .imgOverlay > .overlay-08 {
  position: absolute;
  bottom: auto;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  transition: 0.5s ease;
  width: 200px;
  opacity: 0;
  color: white;
  padding: 10px 10xp;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  font-family: Oswald;
}
.home
  > .main-content
  > .product_list
  > .card:hover
  > .imgOverlay
  > .overlay-08 {
  opacity: 1;
}
.home > .main-content > .product_list > #item-8:hover > img {
  box-shadow: 0px 0px 5px gray;
}

.home > .main-content > .product_list > #item-1:hover > .group-btn > .btn {
  background-color: rgb(49, 49, 49);
  color: whitesmoke;
  font-size: 15px;
  padding: 7px 10px;
  font-weight: 200;
  border: none;
}
.home > .main-content > .product_list > #item-2:hover > .group-btn > .btn {
  background-color: rgb(49, 49, 49);
  color: whitesmoke;
  font-size: 15px;
  padding: 7px 10px;
  font-weight: 200;
  border: none;
}
.home > .main-content > .product_list > #item-3:hover > .group-btn > .btn {
  background-color: rgb(49, 49, 49);
  color: whitesmoke;
  font-size: 15px;
  padding: 7px 10px;
  font-weight: 200;
  border: none;
}
.home > .main-content > .product_list > #item-4:hover > .group-btn > .btn {
  background-color: rgb(49, 49, 49);
  color: whitesmoke;
  font-size: 15px;
  padding: 7px 10px;
  font-weight: 200;
  border: none;
}
.home > .main-content > .product_list > #item-5:hover > .group-btn > .btn {
  background-color: rgb(49, 49, 49);
  color: whitesmoke;
  font-size: 15px;
  padding: 7px 10px;
  font-weight: 200;
  border: none;
}
.home > .main-content > .product_list > #item-6:hover > .group-btn > .btn {
  background-color: rgb(49, 49, 49);
  color: whitesmoke;
  font-size: 15px;
  padding: 7px 10px;
  font-weight: 200;
  border: none;
}
.home > .main-content > .product_list > #item-7:hover > .group-btn > .btn {
  background-color: rgb(49, 49, 49);
  color: whitesmoke;
  font-size: 15px;
  padding: 7px 10px;
  font-weight: 200;
  border: none;
}
.home > .main-content > .product_list > #item-8:hover > .group-btn > .btn {
  background-color: rgb(49, 49, 49);
  color: whitesmoke;
  font-size: 15px;
  padding: 7px 10px;
  font-weight: 200;
  border: none;
}
.home > .main-content > .product_list > #item-1 > .group-btn > .btn > i {
  margin-right: 5px;
}
.home > .main-content > .product_list > #item-1:hover > .group-btn > .btn > i {
  text-align: center;
  display: inline-block;
}
.home > .main-content > .product_list > #item-2 > .group-btn > .btn > i {
  margin-right: 5px;
}
.home > .main-content > .product_list > #item-2:hover > .group-btn > .btn > i {
  text-align: center;
  display: inline-block;
}
.home > .main-content > .product_list > #item-3 > .group-btn > .btn > i {
  margin-right: 5px;
}
.home > .main-content > .product_list > #item-3:hover > .group-btn > .btn > i {
  text-align: center;
  display: inline-block;
}
.home > .main-content > .product_list > #item-4 > .group-btn > .btn > i {
  margin-right: 5px;
}
.home > .main-content > .product_list > #item-4:hover > .group-btn > .btn > i {
  text-align: center;
  display: inline-block;
}
.home > .main-content > .product_list > #item-5 > .group-btn > .btn > i {
  margin-right: 5px;
}
.home > .main-content > .product_list > #item-5:hover > .group-btn > .btn > i {
  text-align: center;
  display: inline-block;
}
.home > .main-content > .product_list > #item-6 > .group-btn > .btn > i {
  margin-right: 5px;
}
.home > .main-content > .product_list > #item-6:hover > .group-btn > .btn > i {
  text-align: center;
  display: inline-block;
}
.home > .main-content > .product_list > #item-7 > .group-btn > .btn > i {
  margin-right: 5px;
}
.home > .main-content > .product_list > #item-7:hover > .group-btn > .btn > i {
  text-align: center;
  display: inline-block;
}
.home > .main-content > .product_list > #item-8 > .group-btn > .btn > i {
  margin-right: 5px;
}
.home > .main-content > .product_list > #item-8:hover > .group-btn > .btn > i {
  text-align: center;
  display: inline-block;
}

.home > .Brands {
  padding: 0;
}
.home > .Brands > .heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Oswald;
}
.home > .Brands > .heading > h4 {
  width: fit-content;
  height: fit-content;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-left: 10px;
  color: rgb(34, 34, 34);
}
.home > .Brands > .heading > .HR {
  border-bottom: 0.5px solid rgb(209, 204, 204);
  width: 80%;
}

#carousel {
  padding: 50px 10px;
}
#carousel2 {
  padding: 50px 10px;
}
.footer {
  margin: 0;
  padding: 0;
  background-color: rgb(34, 34, 34);
  width: 100%;
}

.footer > .container > .footer-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.footer > .container > .footer-body > .body > p {
  color: rgb(175, 175, 175);
  font-family: Poppins;
  font-size: small;
  line-height: 25px;
}
.footer > .container > .footer-body > .body > h5 {
  font-family: Oswald;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 15px;
  color: white;
}
.footer > .container > .footer-body > .body > .contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer > .container > .footer-body > .body > .contact > div > h5 {
  font-family: Oswald;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 15px;
  color: white;
}
.footer > .container > .footer-body > .body > .contact > div > h6 {
  text-transform: uppercase;
  padding-top: 10px;
  font-family: Poppins;
  font-weight: 300;
  color: white;
}
.footer > .container > .footer-body > .body > .contact > div > span {
  color: rgb(175, 175, 175);
  font-size: 13px;
  font-family: Poppins;
}
.footer > .container > .footer-body > .body > .contact > div > a {
  color: rgb(175, 175, 175);
  font-size: 13px;
}
.footer > .container > .footer-body > .featured-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding-left: 40px;
}

.footer > .container > .footer-body > .featured-product > h5 {
  margin-top: 60px;
  font-family: Oswald;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 15px;
  color: white;
}
.footer > .container > .footer-body > .featured-product > .product1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.footer > .container > .footer-body > .featured-product > .product1 > p {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px 20px;
}
.footer > .container > .footer-body > .featured-product > .product1 > p > a {
  color: rgb(175, 175, 175);
  font-family: Poppins;
  font-size: small;
}
.footer
  > .container
  > .footer-body
  > .featured-product
  > .product1
  > p
  > a:hover {
  text-decoration: none;
}
.footer > .container > .footer-body > .featured-product > .product1 > p > span {
  color: rgb(131, 131, 131);
  font-family: Oswald;
}
.footer > .container > .footer-body > .featured-product > .product1 > img {
  cursor: pointer;
}
.footer > .container > .footer-body > .featured-product > .product2 > img {
  cursor: pointer;
}
.footer > .container > .footer-body > .featured-product > .product2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer > .container > .footer-body > .featured-product > .product2 > p {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px 20px;
}
.footer > .container > .footer-body > .featured-product > .product2 > p > a {
  color: rgb(175, 175, 175);
  font-family: Poppins;
  font-size: small;
}
.footer
  > .container
  > .footer-body
  > .featured-product
  > .product2
  > p
  > a:hover {
  text-decoration: none;
}
.footer
  > .container
  > .footer-body
  > .featured-product
  > .product2
  > p
  > span
  > i {
  color: rgb(184, 184, 184);
}
.footer
  > .container
  > .footer-body
  > .featured-product
  > .product1
  > p
  > span
  > i {
  color: rgb(184, 184, 184);
}
.footer > .container > .footer-body > .featured-product > .product2 > p > span {
  color: rgb(131, 131, 131);
  font-family: Oswald;
  font-weight: 400;
}
.footer
  > .container
  > .footer-body
  > .featured-product
  > .product2
  > p
  > #offer {
  text-decoration: line-through;
}
.footer > .container > .footer-body > .Follow {
  margin-top: -60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  text-align: center;
  height: 200px;
}
.footer > .container > .footer-body > .Follow > h5 {
  font-family: Oswald;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 15px;
  color: white;
}
.footer > .container > .HR {
  width: 100%;
  margin-top: 50px;
  background-color: rgb(78, 78, 78);
  height: 0.2px;
}
.footer > .container > .footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}
.footer > .container > .footer-bottom > .Account {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.footer > .container > .footer-bottom > .Account > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  text-align: left;
  font-family: Poppins;
}
.footer > .container > .footer-bottom > .Account > div > a {
  color: rgb(175, 175, 175);
  padding-top: 6px;
  font-size: small;
}
.footer > .container > .footer-bottom > .Account > .sec {
  margin-top: 36px;
  margin-left: 30px;
}
.footer > .container > .footer-bottom > .Account > div > h5 {
  font-family: Oswald;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 15px;
  color: white;
}
.footer > .container > .footer-bottom > .feature {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}
.footer > .container > .footer-bottom > .feature > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.footer > .container > .footer-bottom > .feature > #sec {
  padding-top: 10px;
  padding-left: 20px;
}
.footer > .container > .footer-bottom > .feature > div > h5 {
  font-family: Oswald;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 15px;
  color: white;
}
.footer > .container > .footer-bottom > .feature > div > a {
  color: rgb(175, 175, 175);
  padding-top: 6px;
  font-size: small;
  font-family: Poppins;
}

.footer > .container > .footer-bottom > .HR {
  width: 100%;
  margin: 10px 0px;
  background-color: rgb(78, 78, 78);
  height: 0.2px;
}

.footer > .container > .footer-bottom > .social {
  text-align: center;
  margin-top: 5rem;
}
.footer > .container > .footer-bottom > .social > a {
  background-color: rgb(43, 40, 40);
  padding: 15px 20px;
  font-size: 20px;
  color: white;
}
.footer > .container > #footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
}
.footer > .container > #footer > div > p {
  color: rgb(175, 175, 175);
  padding-top: 6px;
  font-size: small;
  font-family: Poppins;
}
.footer > .container > #footer > .subscribe {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.footer > .container > #footer > .subscribe > h5 {
  font-family: Oswald;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 15 px;
  padding-right: 15px;
  color: white;
}
.footer > .container > #footer > .subscribe > div > input {
  height: 35px;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  padding: 20px 20px;
  color: black;
  width: 200px;
  letter-spacing: 1.5px;
}
.footer > .container > #footer > .subscribe > div > button {
  float: right;
  width: fit-content;
  padding: 11px 20px;
  background: rgb(77, 73, 73);
  color: white;
  font-size: 15px;
  border: none;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  cursor: pointer;
  font-family: Oswald;
  text-transform: uppercase;
  z-index: -1;
}
.footer > .container > #footer > .subscribe > div > button:focus,
:active {
  outline: none;
}
.footer > .container > #footer > .subscribe > div > input:focus,
:active {
  outline: none;
}
/* Tablet Landscape */
@media screen and (max-width: 1199px) {
  .home > .main-content > .product_list {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
      "heading heading heading heading"
      "item-1 item-2 item-3 item-4"
      "item-5 item-6 item-7 item-8";
    grid-gap: 5px;
    float: left;
  }
  .home > .main-content > .product_list > #item-7 {
    display: block;
  }
  .home > .main-content > .product_list > #item-8 {
    display: block;
  }
  .home > .main-content > .product_list > .card > .overlay {
    position: absolute;
    bottom: auto;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    transition: 0.5s ease;
    width: 176px;
    opacity: 0;
    color: white;
    padding: 3px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    font-family: Oswald;
    height: 25px;
  }
}
/* Tablet Portrait */
@media screen and (max-width: 991px) {
  .home > .main-content > .product_list {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-areas:
      "heading heading heading"
      "item-1 item-2 item-3"
      "item-4 item-5 item-6";
    grid-gap: 5px;
    float: left;
  }
  .home > .main-content > .product_list > #item-7 {
    display: none;
  }
  .home > .main-content > .product_list > #item-8 {
    display: none;
  }
  .footer > .container > .footer-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }
  .footer > .container > #footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
  }
  .footer > .container > .footer-body > .body > .contact > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }
  .footer > .container > .footer-body > .featured-product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 0px;
    padding-bottom: 20px;
    width: 100%;
  }
  .footer > .container > .footer-body > .Follow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    margin-top: 10px;
  }
  .footer > .container > .footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10px;
  }
  .footer > .container > .footer-bottom > .Account {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px;
    padding: 0px;
  }
  .footer > .container > .footer-bottom > .Account > .sec {
    padding: 0px;
    margin: 0px;
  }
  .footer > .container > .footer-bottom > .feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
  }
  .footer > .container > .footer-bottom > .feature > #sec {
    padding: 0px;
    margin: 0px;
  }
  .footer > .container > #footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .footer > .container > #footer > .subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .footer > .container > #footer > .subscribe > h5 {
    text-align: left;
  }
  .footer > .container > #footer > #payment {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .footer > .container > .footer-bottom > .social {
    margin-top: 20px;
  }
  .home > .main-content > .product_list > .card > .overlay {
    position: absolute;
    bottom: auto;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    transition: 0.5s ease;
    width: 100px;
    opacity: 0;
    color: white;
    padding: 3px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    font-family: Oswald;
    height: 25px;
  }
}
/* Mobile Landscape */
@media screen and (max-width: 767px) {
  .home > .main-content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      "categories"
      "product-list";
    grid-gap: 1rem;
  }
  .home > .main-content > .product_list {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "heading  heading"
      "item-1 item-2"
      "item-3 item-4"
      "item-5 item-6"
      "item-7 item-8";
    grid-gap: 5px;
    float: left;
    padding-left: 0px;
    padding-right: 0px;
  }
  .footer > .container > .footer-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }
  .footer > .container > #footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
  }
  .footer > .container > .footer-body > .body > .contact > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }
  .footer > .container > .footer-body > .featured-product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 0px;
    padding-bottom: 20px;
    width: 100%;
  }
  .footer > .container > .footer-body > .Follow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    margin-top: 10px;
  }
  .footer > .container > .footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10px;
  }
  .footer > .container > .footer-bottom > .Account {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px;
    padding: 0px;
  }
  .footer > .container > .footer-bottom > .Account > .sec {
    padding: 0px;
    margin: 0px;
  }
  .footer > .container > .footer-bottom > .feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
  }
  .footer > .container > .footer-bottom > .feature > #sec {
    padding: 0px;
    margin: 0px;
  }
  .footer > .container > #footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .footer > .container > #footer > .subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .footer > .container > #footer > .subscribe > h5 {
    text-align: left;
  }
  .footer > .container > #footer > #payment {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .footer > .container > .footer-bottom > .social {
    margin-top: 20px;
  }
}
/* Mobile Portrait */
@media screen and (max-width: 480px) {
  .home > .container > .OurService {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .home > .container > .OurService > .shipping {
    padding: 10px 10px;
  }
  .home > .container > .OurService > .Guarenty {
    padding: 10px 20px;
  }
  .home > .container > .OurService > .Support {
    padding: 10px 10px;
  }
  .home > .main-content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      "categories"
      "product-list";
    grid-gap: 1rem;
  }
  /* .home > .main-content > .product_list {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      "heading"
      "item-1"
      "item-2"
      "item-3"
      "item-4"
      "item-5"
      "item-6"
      "item-7"
      "item-8";
    text-align: center;
  } */
  .home > .main-content > .product_list > .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
  }
  .home > .main-content > .product_list > .heading > h4 {
    width: 50%;
    font-size: 17px;
  }
  .home > .main-content > .product_list > .heading > .HR {
    width: 100%;
  }
  .footer > .container > .footer-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }
  .footer > .container > #footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
  }
  .footer > .container > .footer-body > .body > .contact > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }
  .footer > .container > .footer-body > .featured-product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 0px;
    padding-bottom: 20px;
    width: 100%;
  }
  .footer > .container > .footer-body > .Follow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    margin-top: 10px;
  }
  .footer > .container > .footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10px;
  }
  .footer > .container > .footer-bottom > .Account {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px;
    padding: 0px;
  }
  .footer > .container > .footer-bottom > .Account > .sec {
    padding: 0px;
    margin: 0px;
  }
  .footer > .container > .footer-bottom > .feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
  }
  .footer > .container > .footer-bottom > .feature > #sec {
    padding: 0px;
    margin: 0px;
  }
  .footer > .container > #footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .footer > .container > #footer > .subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .footer > .container > #footer > .subscribe > h5 {
    text-align: left;
  }
  .footer > .container > #footer > #payment {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .footer > .container > .footer-bottom > .social {
    margin-top: 20px;
  }
  .home > .main-content > .product_list > .card > .overlay {
    position: absolute;
    bottom: auto;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    transition: 0.5s ease;
    width: 100px;
    opacity: 0;
    color: white;
    padding: 3px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    font-family: Oswald;
    height: 25px;
  }
}
